/* Базовые и общие стили */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1a2e;
    color: #e4e4e4;
}

h1, h2, h3 {
    color: #ffd700;
}

/* Стили для Header и Footer */
.block-header, .block-footer {
    background-color: #0f0f1a;
    padding: 20px;
    text-align: center;
}

/* Общие стили для колонок */
.nav-1, .content-main, .sidebar {
    padding: 15px;
    border-radius: 5px;
}

.nav-1 {
    background-color: #2c2c54;
}

.sidebar {
    background-color: #3e3e78;
}

.content-main {
    background-color: #1a1a2e;
}

.nav-2 {
    display: flex;
    justify-content: space-around;
    background-color: #5c5c99;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 3px;
}

    .nav-2 h3 {
        margin: 0;
        font-size: 1em;
    }

.image-gallery {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.img-block {
    flex-grow: 1;
    margin: 0 5px;
    height: 150px;
    background-color: #7979a3;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ffd700;
    color: white;
}

/* Адаптація для планшетів */
@media screen and (max-width: 1024px) {
    .main-container {
        width: 95%;
        grid-template-columns: 12% 70% 18%;
        gap: 10px;
    }
}

/* Адаптація для телефонів */
@media screen and (max-width: 768px) {

    .main-container {
        width: 100%;
        margin: 0;
        grid-template-columns: 1fr;
        grid-template-areas:
            "content"
            "aside"
            "nav1";
    }

    /* Адаптація Nav 1:*/
    .nav-1 {
        padding: 15px;
        display: flex;
        justify-content: space-around;
    }

        .nav-1 ul {
            display: flex;
            flex-direction: row;
            padding: 0;
            width: 100%;
            list-style: none;
        }

        .nav-1 li {
            margin: 0 5px;
            text-align: center;
        }

    /* Адаптація внутрішніх елементів */
    .image-gallery {
        flex-direction: column;
    }

    .img-block {
        margin-bottom: 10px;
    }

    .block-header, .block-footer {
        text-align: left;
        padding: 10px;
    }
}
